@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-size: 16px;
    font-family: 'Roboto', sa;
    font-weight: 100;
    color: #0f141e;
    background: #f1f1f1;
}

img{
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.container{
    max-width: 700px;
    margin: auto;
}
ul{
    color:darkred;
}

.card{
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
}

.card1{
    background-color: rgba(255, 165, 0, 0.5);
}

.card2{
    background-color: rgba(107, 142, 35, 0.5);
}

.card3{
    background-color: rgba(218, 112, 214, 0.5);
    
}

.card3 table{
    width: 100%;
    text-align: center;
}

.card4{
    background-color: rgba(128, 128, 1, 0.5);
}

a{
    color: blanchedalmond;
    text-decoration: none;
    
    transition: all .2s;
}

a:hover{
    color: bisque;
}

a:active{
    color:brown
}

a:visited{
    color:blue
}

.btn{
    margin-top: 10px;
    padding: 20px 10px;
    background-color: #0f141e;
    color: white;
}
.card3 table tr:nth-child(odd){
    background: rgba(255, 0, 0, 0.5);
}

.hobbi li{
    list-style: none ;
    margin-top: 5px;
}

.hobbi li:last-child{
    color: aquamarine;
}

.contact{
    display: flex;
}

.item-contact{
    width: 50%;
}

.item-contact label{
    color: rgb(0, 0, 0, 0.5);
}

.item-contact input{
    border-color: #0f141e;
    border-width: 1px;
    border-style: solid;
    border-radius:5px ;
}

.message{
    margin-top: 10px;
}

@media (max-width: 750px){
    body{
        font-size: 16px;
        font-family: 'Roboto', sa;
        font-weight: 100;
        color: #fcfcfc;
        background: #5b1a2d;
    }
}